<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960448262830-m0vd8hgedfoeegbirkciqttik7houk5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960448262830-m0vd8hgedfoeegbirkciqttik7houk5i</string>
	<key>API_KEY</key>
	<string>AIzaSyDOOZLvUzPMekjliNLjJAMgfFUXJwbBqg0</string>
	<key>GCM_SENDER_ID</key>
	<string>960448262830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.axlerate.portal</string>
	<key>PROJECT_ID</key>
	<string>axlerate-customer-portal</string>
	<key>STORAGE_BUCKET</key>
	<string>axlerate-customer-portal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960448262830:ios:5fb5f7facbf3840cc5f33f</string>
</dict>
</plist>